
:root {
  --red: #8C271E;
  --lightcyan: #E7F5F7;
  --black: #1C2726;
}

.text-red {
  color: var(--red);
}

.text-black {
  color: var(--black);
}

body {
  background-color: var(--lightcyan) ;
}

.button-aggiungi {
  background: var(--red);
  border: 0px;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: var(--lightcyan);
  cursor: pointer;
  display: inline-block;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  list-style-type: none;
}

.button-aggiungi:hover,
.button-aggiungi:active {
  background-color: initial;
  background-position: 0 0;
  color: #FF4742;
}

.button-aggiungi:active {
  opacity: .5;
}

.navbar-transition {
  transition: 0.5s;
}

.div_custom{
  height: 2000px;
}

.container-header{
  padding-top: 150px;
}

.header-background {
  position: absolute;
  z-index: -1;
  opacity: 0.5;
  box-shadow: rgb(255, 0, 0) 0px 5px, rgba(255, 0, 0, 0.501) 0px 10px, rgba(255, 0, 0, 0.282) 0px 15px, rgba(255, 0, 0, 0.173) 0px 20px, rgba(255, 0, 0, 0.041) 0px 25px;
}





.button-mostra {
  background: #FF4742;
  border: 1px solid #FF4742;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.button-mostra:hover,
.button-mostra:active {
  background-color: initial;
  background-position: 0 0;
  color: #FF4742;
}

.button-mostra:active {
  opacity: .5;
}

.margin-custom {
  margin-top: 100px;
}

.carta-pokemon {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
}

.icon-container {
  display: flex;
  justify-content: end;
}

.icon-container > i {
  cursor: pointer;
  color: #e1e1e1;
  font-size: 25px;
}

.margin-heart {
  margin-top: 10px;
  margin-right: 13px;
}

.container-counter {
  display: flex;
  flex-direction: column;
  align-items: center;
}
